In [4]:
import tensorflow as tf 
import urllib.request
import matplotlib.pyplot as plt 
import os

In [5]:
#下载泰坦尼数据集
#data_url = "http:biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls"
data_file_path = "titanic3.xls"

#if not os.path.isfile(data_file_path):
#    result=urllib.urlretrieve(data_url,data_file_path)
#    print('downloaded:',result)

In [6]:
#读取数据
import numpy
import pandas as pd 
df_data = pd.read_excel(data_file_path)

In [7]:
print (df_data)

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex      age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.0000      0      0   24160  211.3375       B5        S    2
1       male   0.9167      1      2  113781  151.5500  C22 C26        S   11
2     female   2.0000      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.0000      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.0000      1      2  113781  151.5500  C22 C26        S  NaN
...      ...      ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.5000      1      0    2665   14.4542      NaN        C  NaN
1305  female      NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.5000      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.0000      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.0000      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]

In [8]:
#筛选需要的字段
selected_cols = ['survived','name','pclass','sex','age','sibsp','parch','fare','embarked']
selected_df_data = df_data[selected_cols]

In [9]:
print(selected_df_data)

      survived                                             name  pclass  \
0            1                    Allen, Miss. Elisabeth Walton       1
1            1                   Allison, Master. Hudson Trevor       1
2            0                     Allison, Miss. Helen Loraine       1
3            0             Allison, Mr. Hudson Joshua Creighton       1
4            0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)       1
...        ...                                              ...     ...
1304         0                             Zabour, Miss. Hileni       3
1305         0                            Zabour, Miss. Thamine       3
1306         0                        Zakarian, Mr. Mapriededer       3
1307         0                              Zakarian, Mr. Ortin       3
1308         0                               Zimmerman, Mr. Leo       3

         sex      age  sibsp  parch      fare embarked
0     female  29.0000      0      0  211.3375        S
1       male   0.9167      1      2  151.5500        S
2     female   2.0000      1      2  151.5500        S
3       male  30.0000      1      2  151.5500        S
4     female  25.0000      1      2  151.5500        S
...      ...      ...    ...    ...       ...      ...
1304  female  14.5000      1      0   14.4542        C
1305  female      NaN      1      0   14.4542        C
1306    male  26.5000      0      0    7.2250        C
1307    male  27.0000      0      0    7.2250        C
1308    male  29.0000      0      0    7.8750        S

[1309 rows x 9 columns]

In [10]:
selected_df_data.isnull().any()

survived    False
name        False
pclass      False
sex         False
age          True
sibsp       False
parch       False
fare         True
embarked     True
dtype: bool

In [11]:
selected_df_data.isnull().sum()

survived      0
name          0
pclass        0
sex           0
age         263
sibsp         0
parch         0
fare          1
embarked      2
dtype: int64

In [12]:
selected_df_data[selected_df_data.isnull().values==True]

,survived,name,pclass,sex,age,sibsp,parch,fare,embarked
15,0,"Baumann, Mr. John D",1,male,NaN,0,0,25.9250,S
37,1,"Bradley, Mr. George (""George Arthur Brayton"")",1,male,NaN,0,0,26.5500,S
40,0,"Brewe, Dr. Arthur Jackson",1,male,NaN,0,0,39.6000,C
46,0,"Cairns, Mr. Alexander",1,male,NaN,0,0,31.0000,S
59,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",1,female,NaN,0,0,27.7208,C
...,...,...,...,...,...,...,...,...,...
1293,0,"Williams, Mr. Howard Hugh ""Harry""",3,male,NaN,0,0,8.0500,S
1297,0,"Wiseman, Mr. Phillippe",3,male,NaN,0,0,7.2500,S
1302,0,"Yousif, Mr. Wazli",3,male,NaN,0,0,7.2250,C
1303,0,"Yousseff, Mr. Gerious",3,male,NaN,0,0,14.4583,C
1305,0,"Zabour, Miss. Thamine",3,female,NaN,1,0,14.4542,C

In [13]:
age_mean_value = selected_df_data['age'].mean()
selected_df_data['age'] = selected_df_data['age'].fillna(age_mean_value)

fare_mean_value = selected_df_data['fare'].mean()
selected_df_data['fare'] = selected_df_data['fare'].fillna(fare_mean_value)

selected_df_data['embarked'] = selected_df_data['embarked'].fillna('S')

selected_df_data['sex'] = selected_df_data['sex'].map({'female':0,'male':1}).astype(int)

selected_df_data['embarked'] = selected_df_data['embarked'].map({'C':0,'Q':1,'S':2}).astype(int)

C:\Users\PC095\AppData\Local\Temp\ipykernel_9008\3891129977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df_data['age'] = selected_df_data['age'].fillna(age_mean_value)
C:\Users\PC095\AppData\Local\Temp\ipykernel_9008\3891129977.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df_data['fare'] = selected_df_data['fare'].fillna(fare_mean_value)
C:\Users\PC095\AppData\Local\Temp\ipykernel_9008\3891129977.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df_data['embarked'] = selected_df_data['embarked'].fillna('S')
C:\Users\PC095\AppData\Local\Temp\ipykernel_9008\3891129977.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df_data['sex'] = selected_df_data['sex'].map({'female':0,'male':1}).astype(int)
C:\Users\PC095\AppData\Local\Temp\ipykernel_9008\3891129977.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df_data['embarked'] = selected_df_data['embarked'].map({'C':0,'Q':1,'S':2}).astype(int)

In [14]:
#删除name
selected_df_data = selected_df_data.drop(['name'],axis=1)

In [1]:
selected_df_data[:3]

NameError: name 'selected_df_data' is not defined

In [16]:
#分离特征值和标签
ndarray_data = selected_df_data.values
features = ndarray_data[:,1:]
label = ndarray_data[:,0]

In [17]:
#特征值标准处理化
from sklearn import preprocessing
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0,1))
norm_features = minmax_scale.fit_transform(features)

In [41]:
#定义数据预处理函数

def prepare_data(df_data):
    df=df_data.drop(df['name'],axis=1)
    age_mean = df['age'].mean()
    df['age'] = df['age'].fillna(age_mean)
    fare_mean = df['fare'].mean()
    df['fare'] = df['fare'].fillna(fare_mean)
    df['sex'] = df['sex'].map({'female':0,'male':1}).astype(int)
    df['embarked'] = df['embarked'].fillna('S')
    df['embarked'] = df['embarked'].map({'C':0,'Q':1,'S':2}).astype(int)

    ndarray_data = df.values

    features = ndarray_data[:,1:]
    label = ndarray_data[:,0]

    minmax_scale =preprocessing.MinMaxScaler(feature_range=(0,1))
    norm_features=minmax_scale.fit_transform(features)

In [35]:
print(df_data)

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex      age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.0000      0      0   24160  211.3375       B5        S    2
1       male   0.9167      1      2  113781  151.5500  C22 C26        S   11
2     female   2.0000      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.0000      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.0000      1      2  113781  151.5500  C22 C26        S  NaN
...      ...      ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.5000      1      0    2665   14.4542      NaN        C  NaN
1305  female      NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.5000      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.0000      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.0000      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]

In [ ]:
prepare_data(df_data)
print(df_data.df)

In [1]:
#数据打乱顺序，划分训练集
shuffled_df_data = selected_df_data.sample(frac=1)

x_data,y_data = prepare_data(shuffled_df_data)

train_size = int(len(x_data)*0.8)

x_train = x_data[:train_size]
y_train = y_data[:train_size]

x_test = x_data[train_size:]
y_test  =y_data[train_size:]

NameError: name 'selected_df_data' is not defined

In [25]:
import tensorflow as tf
#建立keras序列模型
model = tf.keras.models.Sequential()

In [27]:
#加入第一层
model.add(tf.keras.layers.Dense(
                                units=64,
                                input_dim=7,
                                use_bias=True,
                                kernel_initializer='uniform',
                                bias_initializer='zero',
                                activation='relu'
))
model.add(tf.keras.layers.Dense(units=32,
                                activation='sigmoid'))
model.add(tf.keras.layers.Dense(units=1,
                                activation='sigmoid'))

In [28]:
#模型设置
model.compile(optimizer=tf.keras.optimizers.Adam(0.003),loss='binary_crossentropy',metrics=['accuracy'])

In [29]:
#模型训练
train_history = model.fit(x=x_train,
                          y=y_train,
                          validation_split=0.2,
                          epochs=100,
                          batch_size=40,
                          verbose=2)

NameError: name 'x_train' is not defined

In [23]:
#训练过程可视化
import matplotlib as plt

def visu_train_history(train_history,train_metric,validation_metric):
    plt.plot(train_history.history[train_metric])
    plt.plot(train_history.history[validation_metric])
    plt.title('Train History')
    plt.ylabel('train_metric')
    plt.xlabel('epoch')
    plt.legend(['train','validation'],loc='upper left')
    plt.show()

In [24]:
visu_train_history(train_history,'acc',val_acc)

NameError: name 'train_history' is not defined

In [ ]:
visu_train_history(train_history,'loss',val_loss)

In [ ]:
#模型评估
evaluate_result = model.evaluate(x=x_test,y_y_test)

In [ ]:
evaluate_result

In [ ]:
#评估结果返回标签
model.metrics_names

In [ ]:
Jack_info = [0,'Jack','male',23,1,0,5.000,'S']
Rose_info = [1,'Rose',1,'female',20,1,0,100.000,'S']
new_passenger_pd=pd.DataFrame([Jack_info,Rose_info],columns=selected_cols)

In [ ]:
all_passenger_pd = selected_df_data.append(new_passenger_pd)

In [ ]:
all+passenger_pd[-3:]

In [ ]:
x_features,y_label = prepare_data(all-passenger_pd)
surv_probability = model.predict(x_features)
surv_probability[:5]

In [ ]:
all_passenger_pd.insert(len(all_passenger_pd.columns),'surv_probability',surv_probability)
all_passenger_pd[-5:]